.navbar {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 60px;
  padding-top: 0;
  outline: none;
  height: 65px;
}

.navbar-nav li:hover{
  background: #f4f4f4;
  cursor:pointer;
}

.navbar-nav li a:hover,
.navbar-nav li a:hover label{
  cursor:pointer;
}

.navbar .avatar {
  border: 2px solid #e97922;
  border-radius: 50%;
  position: relative;
  height: 40px;
  top: 2px;
}

.navbar-nav .nav-label {
  font-weight: normal;
  position: relative;
  top: 2px;
}

.navbar-brand>img {
  display: block;
  margin: 5px;
  float: left;
}

.navbar-brand > label {
  color: black;
}

.navbar .dropdown {
  overflow: hidden;
}

.navbar .dropdown.open{
  overflow: visible;
}

.inviewer-navbar .dropdown-menu {
 padding: 0;
}

.inviewer-navbar .dropdown-menu > li {
  padding: 6px 0;
  margin: 0;
}

.inviewer-navbar .dropdown-menu > .divider {
  padding: 0;
  margin: 0;
}

.inviewer-navbar .dropdown-menu > li:hover {
  background: #e5e5e5;
}

.inviewer-navbar .dropdown-menu > li > a {
  height: 30px;
  line-height: 23px;
  padding: 3px 20px;
}

.inviewer-navbar .dropdown-menu > li > a:hover {
  background: #e5e5e5;
}

.inviewer-navbar .dropdown .caret {
  position: relative;
  top: -63px;
  left: 36px;
}

.inviewer-navbar .app-logo {
  position: relative;
  top: 2px;
}

.inviewer-navbar .menuItem {
  border-radius: 4px;
}

.inviewer-brand-item, {
  list-style: none;
}

.inviewer-brand-item > a,
.inviewer-brand-item > a:hover {
  text-shadow: 0 0 0.5px #000;
  text-decoration: none;
  font-size: 24px;
  color: #daa228;
}

.inviewer-brand-item > a:hover {
  color: #a53a20;
}

.inviewer-navbar .dropdown-menu span {
  position: relative;
  color: #5d5f5f;
  top: 1px;
}

.inviewer-navbar a:hover span {
  color: #ff9000;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #ffffff;
}

.search-bar {
    margin: 0;
    padding: 0;
}

.search-btn {
    color: #aaa;
    border-radius: 3px;
    font-weight: bold;
    transition: all 200ms ease-in-out;
}

.search-btn:hover {
  color: #fff;
  background-color: #8FBE00;
}
